<!DOCTYPE html>
<html lang="en">

<head>
    <%- include('./partial/head') %>
</head>
<body class="realestate_version">

<!-- LOADER -->
<div id="preloader">
    <span class="loader"><span class="loader-inner"></span></span>
</div><!-- end loader -->
<!-- END LOADER -->

<header class="header header_style_01">
    <nav class="megamenu navbar navbar-default">
        <div class="container-fluid">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar"
                        aria-expanded="false" aria-controls="navbar">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand" href="/"><img src="images/logos/logo.png" alt="image"></a>
            </div>
            <div id="navbar" class="navbar-collapse collapse">
                <ul class="nav navbar-nav navbar-right">
                    <li><a class="top-bar active" id="house-nav" href="#" onclick="onloadHouses()">Houses</a></li>
                    <li id="yours-but"><a class="top-bar" id="yours-nav" href="#" onclick="onloadYourHouses()">Your Houses</a></li>
                    <li id="contract-but"><a class="top-bar " id="contract-nav" href="#" onclick="onloadContracts()">Contract</a></li>
                    <li id="host-but"><a class="top-bar " id="host-nav" href="#" onclick="onloadHouseCreate()">Host</a></li>
                    <li id="login-logout"><a href="#" onclick="onloadLogin()">Login</a></li>
                    <li class="social-links"><a href="#"><i class="fa fa-twitter global-radius"></i></a></li>
                    <li class="social-links"><a href="#"><i class="fa fa-facebook global-radius"></i></a></li>
                    <li class="social-links"><a href="#"><i class="fa fa-linkedin global-radius"></i></a></li>
                    <li class="search-option" style="display: none">
                        <button class="search tran3s dropdown-toggle" id="searchDropdown" data-toggle="dropdown"
                                aria-haspopup="true" aria-expanded="false"><i class="fa fa-search"
                                                                              aria-hidden="true"></i></button>
                        <form action="#" class="p-color-bg dropdown-menu tran3s" aria-labelledby="searchDropdown">
                            <input type="text" placeholder="Search....">
                            <button class="p-color-bg"><i class="fa fa-search" aria-hidden="true"></i></button>
                        </form>
                    </li>
                </ul>
            </div>
        </div>
    </nav>
</header>

<div id="page-content">

</div>
<div id="notification">

</div>

<a href="#" id="scroll-to-top" class="dmtop global-radius"><i class="fa fa-angle-up"></i></a>

<%- include('./partial/javascript') %>

</body>
</html>